
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
img{
  max-width: 100%;
  height: auto;
}
.App{
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body{
  background-color:#f6f6f6 ;
  overflow-x: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  min-height: 90px;
}

.navbar-link-container a{
  margin-right:3rem ;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: Reem Kufi;
}
.navabar-menu-container{
  display: none;
}
.primary-button{
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  width: 218px;
  height: 72px;
  border-radius: 72px;
  padding: 28px, 30px, 28px, 30px;
  transition: 0.2s;
  font-size: 1.1rem;
}
.primary-button:hover{
  background-color: rgb(234,234,234);
}
.navbar-cart-button{
  font-size: 27px;
}
/* responsive menu */

@media (max-width: 1000px){
  .navbar-link-container a{
    margin-left: 1rem;
    font-size: 1rem;
  }
  .priamry-buton{
    font-size: 1rem;
  }
  
}
@media (max-width: 800px){
  /* .nav-logo-container{

   max-width: 100px;
  
  } */
  .navbar-logo-containner img{
    width: 60%;
  }
  .navbar-link-container{
    display: none;
    
  }
  .navabar-menu-container{
    display: flex;
  }

}

 /* home component style */

.home-banner-container{
  display: flex;
  padding-top: 3rem;
  position: relative;

}
.home-bannerImage-container{
  position: absolute;
  top: -130px ;
  right: -170px ;
  z-index: -2 ;
  max-width: 700px ;
}

.home-image-section{
  max-width: 700px;
  
}
.home-text-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 23px;
}
.primary-heading{
  max-width: 693px;
  color: #4C4C4C;
  font-size: 60px;
  font-family: Reem Kufi;
  text-align: left;
  line-height: 73px;
}
.home-text-section{
  font-size: 20px;
  font-weight: 600;
  color: #828282;
  text-align: left;
  margin: 20px 0px;
}
.secondery-button{
  background-color: #FE9E0D;
  padding: 17px 32px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: 600;

  
  
}
.svg{
 top: 3px;
 position: relative;
}

@media(max-width:800px){
  .home-bannerImage-container{
    max-width: 310px;

  }
  .home-banner-container{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .primary-heading{
    font-size: 40px;
    line-height: 50px;
    
  }
  .home-text-section{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}


















































.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
